body{
  background: #393E41;
  color: white;
}

.current-temp-wrap{
  margin-top: 2em;
  text-align: center;

  .temp-block{
    position: relative;
    margin: 0 auto;
    max-width: 20em;

    .unit-toggle{
      position: absolute;
      top: 0;
      right: 5em;

      a{
        // border: 1px solid white;
        // border-radius: 15px;
        // padding: 4px;
        &:hover{
          color: white;
          cursor: pointer;
          text-decoration: none;
        }
      }
    }
  }

  .description-wrap{
    text-transform: capitalize;
    i{
      font-size: 5em;
    }
  }
}


.forecast-wrap{
  margin: 3em 0 0 0;
  text-align: center;
  .day-block-wrap{
    border: 1px solid white;
    margin: 1ex;
  }
  .day-block{
    // border: 1px solid black;
    text-align: center;
    div{
      float: none;
    }
    .day-name{
      // padding: 2ex;
      display: inline-block;

      h3{
        font-size: 1.5em;
      }
    }

    .img-wrap{
      // padding: 2.5ex;
      display: inline-block;

      i{
        font-size: 2em;
      }
    }

    .high-low{
      display: inline-block;
      padding: 0;
      position: relative;

      h5{
        display: inline-block;
        font-size: 1.5em;
        margin-right: 0.5ex;

      }
      .low{
        color: gray;
      }
    }
  }
}

@media(min-width: 768px){
  .forecast-wrap{
    .day-block{
      display: inline-block;
      float: none;
      padding: 1ex 0;
      width: 12%;

      .day-name{
        h3{
          margin-top: 10px;
        }
      }

      .img-wrap{
        margin-top: 1ex;
        margin-bottom: 1.5ex;
      }

      .high-low{
        padding: 0;
        h3{
          font-size: 1.5em;
        }

        h5{
          font-size: 1em;
          // margin-bottom: 1.5ex;
          padding-left: 1ex;
        }
      }
    }
  }


}
